* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #262626;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

h2 {
    position: fixed;
    z-index: 10;
    top: 2px;
    left: 10px;
    color: #fff;
    font-size: 3rem;
}

img {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

button,
a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 40px;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #fff;
    max-width: 86px;
    font-size: large;

    &:hover {
        transform: scale(.9);
    }

    &:active {
        transform: scale(1.1);
    }
}