{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="GDSC Treasure Hunt">
    <meta property="og:description" content="desc">
    <meta property="og:image" content="./images/logo.svg">
    <meta property="og:url" content="name.com">

    <!-- Main Link Tags  -->
    <link href="{% static 'images/logo.svg' %}" rel="icon" type="image/png" sizes="16x16">
    <link href="{% static 'images/logo.svg' %}" rel="icon" type="image/png" sizes="32x32">


    <title> Riddle | Treasure Hunt | Home Page | GDSC RCOEM</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/riddle.css' %}">
    <link rel="stylesheet" href="{% static 'css/riddle2/riddle2.min.css' %}">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'css/mobile-view/mobile.min.css' %}">

    <script src="{% static 'js/riddle2.js' %}" defer></script>
</head>

<body style="user-select: none;" draggable="false">

    <!-- when page is opened in mobile -->
    <section id="mobile-screen">
        <p>
            Please view this page on a laptop/Desktop!!
        </p>
    </section>

    <nav>
        <div class="flex">
            <div class="teamDetails">
                <div class="teamAvatar">
                    <img src="{% static 'images/avatar.jpg' %}" alt="">
                </div>
                <div class="teamName">
                    <span> {{ team_name }} </span>
                </div>
            </div>
        </div>
        <div class="heading">
            <div>
                <p> Treasure Hunt - Round {{ ques_no }} </p>
            </div>
        </div>
        <div class="options">
            <a href="https://docs.google.com/document/d/1-J5T7KUhG-z5WrTWe_H0xnub7jUtkR56w-j2MqOVSrg/edit?usp=sharing"
                target="_blank">
                <button class="btn " id="myBtn"> RULES </button>
            </a>

            <a href="/leaderboard" target="_blank">
                <button class="btn1 " id="myBtn2"> LEADERBOARD </button>
            </a>
            <div class="time">
                <!-- <span>03:56</span> -->
                <span class="minutes"> </span>
                <span>:</span>
                <span class="seconds"> </span>
                <p class="small">TIME</p>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <footer class="footer">
        <div class="card">
            <div class="container" onclick="submitForm();">
                <h4><b>NEXT</b></h4>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <h4><b id="user-point">{{ score }}</b></h4>
                <p class="ftext">POINTS</p>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <h4><b>{{ hints_taken }}</b></h4>
                <p class="ftext">HINTS TAKEN</p>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <a class="btn-modal" data-toggle="hintModal" href="#hintModal">HINT</a>
            </div>
        </div>
    </footer>

    <div id="hintModal" class="modal-window">
        <div>
            <a href="#" title="Close" class="modal-close">Close</a>
            <h1>HINT</h1>
            <div id="hintArea">
                <div>Do you really want to take hint. It will cost you {{ hint_points }} points.
                </div>
                <div>PS: Points won't be deducted if already hint taken</div>
                <button class="confirm-btn" id="btn-confirm" onclick="getHint();">Confirm</button>
            </div>
        </div>
    </div>

    <script>

        const submitForm = () => {
            document.getElementsByClassName("form")[0].submit()
        }
        const initRiddle = () => {
            let isHintAvailable = '{{ hint_points }}'

            if (parseInt(isHintAvailable) == 0) {
                document.getElementById("hintArea").innerHTML = "No hint for this one..!"
            }

            let isHintTaken = '{{ isHintTaken }}'
            // console.log(isHintTaken)
            if (isHintTaken === 'True') {
                getHint();
            }
        }
        // Timer starts
        let temp = '{{ start_time }}'

        function getTimeElapsed() {

            const start_time = new Date(parseInt(temp));
            const current_time = new Date();

            const total = Date.parse(current_time) - Date.parse(start_time);
            const seconds = Math.floor((total / 1000) % 60);
            const minutes = Math.floor((total / 1000 / 60) % 60);

            return {
                total,
                minutes,
                seconds
            };
        }

        function initializeClock(id) {
            const minutesSpan = document.getElementsByClassName('minutes')[0];
            const secondsSpan = document.getElementsByClassName('seconds')[0];

            function updateClock() {
                const t = getTimeElapsed();
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
            }

            updateClock();
            const timeinterval = setInterval(updateClock, 1000);
        }

        initializeClock();
        // Timer ends

        // Disable right click starts
        document.addEventListener("contextmenu", function (event) {
            event.preventDefault();
            alert('Right Click is Disabled');
        }, false);

        document.addEventListener("keydown", function (event) {
            if (event.ctrlKey) {
                // event.preventDefault();
            }
        });
        // Disable right click ends

        // Hint section starts
        function getHint() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4) {
                    const data = JSON.parse(this.responseText);
                    const hintArea = document.getElementById("hintArea");

                    if ("error" in data) {
                        hintArea.innerHTML = data["error"];
                    }
                    else {
                        hintArea.innerHTML = data["hint"];
                    }

                    if ("points" in data) {
                        document.getElementById("user-point").innerText = data["points"]
                    }
                }
            };

            xhttp.open("GET", "/hint?ques={{ ques_no }}", true);
            xhttp.send();
            // location.href = "#hintModal";
        }
        // Hint section ends
        window.addEventListener ?
            window.addEventListener("load", initRiddle, false)
            : window.attachEvent && window.attachEvent("onload", initRiddle);
    </script>

</body>

</html>