{% extends "riddles/base.html" %}

{% block content %}
{% load static %}
<div class="main">
	<div class="riddle">
		<div class="riddleQuestion2">

			<h1>Statement: </h1>
			<p>
				Find different characters name, collect their first letter and arrange them in alphabetical order to
				get the <b>key</b>.
				<br>
			<h2><b>Clues</b></h2>
			<ol>
				<li>I have successfully privatized world peace</li>
				<li>At your service sir</li>
				<li>It's a quite big name, but AVENGERS are taken care of by them. </li>
				<li>I have Stark internship to do.</li>
				<li>I was made out of an A.I</li>
				<li>I know arrows very well.</li>
			</ol>
			</p>
		</div>

		<div class="l-form form-style">
			<form action="/solve" method="post" class="form">
				{% csrf_token %}
				<input type="hidden" id="ques_no" name="ques_no" value="{{ ques_no }}">
				<div class="form__div">
					<input class="form__input" id="answer" type="text" name="answer" maxlength="100" required
						placeholder="Enter your answer" autocomplete="off">
				</div>
			</form>
		</div>
	</div>
	<div class="word-holder">
		<img src="{% static 'images/wordSearch.png' %}" alt="">
		<canvas id="canvas" width="600px" height="450px"></canvas>
		<button onclick="erase()" title="erase"><i class="fas fa-eraser" title="erase"></i></button>
	</div>
</div>
{% endblock content %}