{% extends "riddles/base.html" %}

{% block content %}
{% load static %}
<div class="main">
	<div class="riddle">
		<div class="riddleQuestion">
			<div class="crossword">
				<img src="{% static 'images/CrossWord.png' %}" alt="">
			</div>

		</div>

		<div class="l-form form-style">
			<form action="/solve" method="post" class="form">
				{% csrf_token %}
				<input type="hidden" id="ques_no" name="ques_no" value="{{ ques_no }}">
				<div class="form__div">
					<input class="form__input" id="answer" type="text" name="answer" maxlength="100" required
						placeholder="Enter your answer" autocomplete="off">
				</div>
			</form>
		</div>
	</div>
	<div class="round3-clue">
		<p>1. I am never stopping I hang out with numbers every day and nothing ever gets in my way. <br> What am I?
		</p><br>
		<p>2. I cannot be felt, seen, or touched yet I can be found in everybody. My existence is always <br>
			philosophical.</p><br>
		<p>3. [ M L3 T-2 ] / [ L T ]
		</p><br>
		<p>4. where there is no appreciable air to breathe or to scatter light. I contain the darkest whole.
		</p><br>
		<p>5. I can be seen and used by every Mathematician but can never be reached.

		</p> <br>
		<p>6. technological hints are to be used.</p>
	</div>
</div>
{% endblock content %}