{% extends "riddles/base.html" %}

{% block content %}
{% load static %}
<div class="main">
	<div class="riddle">
		<div class="riddleQuestion4">
			<p>
			<h2>PART 1:</h2>
			If <b>SPIDERMAN</b> is written as <b>DAOFRTQSM</b>.
			<br>
			How will you write: <br>
			<ol>
				<li>DR STRANGE = ?</li>
				<li>THANOS = ?</li>
			</ol>

			<h2>Part 2:</h2>
			In a language <b>HULK</b> is written as <b>IXSA</b> and <b>THOR</b> is written as <b>ZIGK</b>.
			How will you write: <br>
			<ol>
				<li>IRONMAN = ?</li>
				<li>CAPTAIN AMERICA = ?</li>
			</ol>

			Now you have to pick : <br>
			6th and 7th char from 1st code <br>
			5th char from 2nd code<br>
			1st char from 3rd code <br>
			11th char from 4th code.<br><br>

			Rearrange them to make a word related to marvel.
			</p>
		</div>

		<div class="l-form form-style">
			<form action="/solve" method="post" class="form">
				{% csrf_token %}
				<input type="hidden" id="ques_no" name="ques_no" value="{{ ques_no }}">
				<div class="form__div">
					<input class="form__input" id="answer" type="text" name="answer" maxlength="100" required
						placeholder="Enter your answer" autocomplete="off" autofocus="on">
				</div>
			</form>
		</div>
	</div>
	<div class="image img-round4">
		<img src="{% static 'images/Avenger.png' %}" alt="">
	</div>
</div>
{% endblock content %}