{% extends "riddles/base.html" %}

{% block content %}
{% load static %}
<div class="main">
	<div class="riddle">
		<div class="riddleQuestion4">
			<p>
				PART 1: <br><br> If SPIDERMAN is written as “DAOFRTQSM”. <br> How will you write DR STRANGE as = ? <br>
				THANOS = ?
			</p><br>
			<p> <br> Part 2:<br> IN A LANGUAGE HULK IS WRITTEN AS IXSA AND THOR IS WRITTEN AS ZIGK. IN SAME LANGUAGE the
				following will be written as: <br>IRONMAN: ______ ? <br>CAPTAIN AMERICA : _______?

			</p>
			<p> <br> Now you have to pick : <br> 6th and 7th char from 1st code <br>5th char from 2nd code<br> 1st char
				from 3rd code <br>11th char from 4th code.<br><br> And rearrange them to make a work related to marvel.
			</p>
		</div>

		<div class="l-form form-style">
			<form action="/solve" method="post" class="form">
				{% csrf_token %}
				<input type="hidden" id="ques_no" name="ques_no" value="{{ ques_no }}">
				<div class="form__div">
					<input class="form__input" id="answer" type="text" name="answer" maxlength="100" required
						placeholder="Enter your answer" autocomplete="off">>
				</div>
			</form>
		</div>
	</div>
	<div class="image img-round4">
		<img src="{% static 'images/Avenger.png' %}" alt="">
	</div>
</div>
{% endblock content %}