* {
    cursor: url(./../static/images/cursor.png) 2 2, auto;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
}

img {
    width: 100%;
    object-fit: cover;
}

.btn-set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    align-items: center;
    margin-top: -60px;

    a {
        text-decoration: none;
        border: none;
        cursor: pointer;
        width: auto;
    }

    img {
        cursor: pointer;

        &:active {
            transform: scale(.9);
        }

        width: 400px;
    }
}