{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="GDSC Treasure Hunt">
    <meta property="og:description" content="desc">

    <meta property="og:url" content="name.com">

    <!-- Main Link Tags  -->
    <link href="{% static 'images/logo.svg' %}" rel="icon" type="image/png" sizes="16x16">
    <link href="{% static 'images/logo.svg' %}" rel="icon" type="image/png" sizes="32x32">

    <title> Leaderboard | Treasure Hunt | Home Page | GDSC RCOEM</title>

    <link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">
</head>

<body>

    <div class="l-wrapper">
        <div class="c-header">
            <span>Marvellous Treasure Hunt</span>
        </div>
        <div class="l-grid">
            <div class="l-grid__item l-grid__item--sticky">
                <div class="c-card u-bg--light-gradient u-text--dark">
                    <div class="c-card__body">
                        <div class="u-display--flex u-justify--space-between">
                            <div class="u-text--left">
                                <div class="u-text--small">My Rank</div>
                                <h2>{{ curr_user.rank }}</h2>
                            </div>
                            <div class="u-text--right">
                                <div class="u-text--small">My Points</div>
                                <h2>{{ curr_user.score }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-card">
                    <div class="c-card__body">
                        <div class="u-text--center" id="winner">
                            <img class="c-avatar c-avatar--lg" src="{% static 'images/avatar.jpg' %}" />
                            <h3 class="u-mt--16">{{ user.first_name }} {{ user.last_name }}</h3>
                            <span class="u-text--teal u-text--small">
                                Rounds Cleared - {{ curr_user.ques_solved }}</span><br />
                            <span class="u-text--teal u-text--small">Hints Taken - {{ curr_user.hints_taken }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-grid__item">
                <div class="c-card">
                    <div class="c-card__body">
                        <ul class="c-list" id="list">
                            <li class="c-list__item">
                                <div class="c-list__grid">
                                    <div class="u-text--left u-text--small u-text--medium">Rank</div>
                                    <div class="u-text--left u-text--small u-text--medium">Team Name</div>
                                    <div class="u-text--right u-text--small u-text--medium">Rounds</div>
                                    <div class="u-text--right u-text--small u-text--medium">Score</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const loadLeaderboard = (teams) => {
            teams.forEach((member) => {
                console.log(member);
                let newRow = document.createElement("li");
                newRow.classList = "c-list__item";
                newRow.innerHTML = `
                    <div class="c-list__grid">
                        <div class="c-flag c-place u-bg--transparent">${ member.rank }</div>
                        <div class="c-media">
                            <div class="c-media__content">
                                <div class="c-media__title">${ member.user }</div>
                            </div>
                        </div>
                        <div class="u-text--right">
                            <strong>${ member.ques_solved }</strong>
                        </div>
                        <div class="u-text--right c-points">
                            <div class="u-mt--8">
                                <strong>${ member.score }</strong> ${ randomEmoji() }
                            </div>
                        </div>
                    </div>
                `;
                if (member.rank === 1)
                {
                    newRow.querySelector(".c-place").classList.add("u-text--dark");
                    newRow.querySelector(".c-place").classList.add("u-bg--yellow");
                    newRow.querySelector(".c-points").classList.add("u-text--yellow");
                } else if (member.rank === 2)
                {
                    newRow.querySelector(".c-place").classList.add("u-text--dark");
                    newRow.querySelector(".c-place").classList.add("u-bg--teal");
                    newRow.querySelector(".c-points").classList.add("u-text--teal");
                } else if (member.rank === 3)
                {
                    newRow.querySelector(".c-place").classList.add("u-text--dark");
                    newRow.querySelector(".c-place").classList.add("u-bg--orange");
                    newRow.querySelector(".c-points").classList.add("u-text--orange");
                }
                list.appendChild(newRow);
            });
        };

        const randomEmoji = () => {
            const emojis = ["👏", "👍", "🙌", "🤩", "🔥", "⭐️", "🏆", "💯"];
            let randomNumber = Math.floor(Math.random() * emojis.length);
            return emojis[randomNumber];
        };

        loadLeaderboard({{ all_users| safe }});
    </script>

</body>

</html>